body {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawPanel{
    height: 500px;
    width: 500px;
    border: 2px black solid;
}

.clearButton{
    margin: 5%;
    height: 50px;
    width: 300px;
    background-color: transparent;
    border: 2px black solid;
}